{% extends 'base.html.twig' %}

{% block document_title %}KPA{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block page_subtitle %}For KPA administration{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="module" src="{{ asset('js/pwa-main.js') }}"></script>
{% endblock %}


{% block body %}

    {% if app.user %}
        {% for key, value in app.user.identifiers %}
            {{ key }}
            {{ value|json_encode }}
        {% endfor %}
    {% endif %}

    <h1>PWA!</h1>

        <div class="row mt-4">
            <div class="col-md-6">
                {% component card  %}
                    {% block card_body %}
                        <span class="bi bi-music-note"></span>
                        <div class="text-light small fw-semibold">
                            {% block title 'song_index.title'|trans %}
                        </div>
                        {{ 'song_index.description'|trans }}

                        <h3>Featured</h3>
                        {% for feature in featured %}
                            <a href="{{ path('song_show', feature.rp) }}">
                                Featured Song: {{ feature.title }}
                            </a>
                        {% endfor %}
                    {% endblock %}
                    {% block links %}

                        <div class="demo-inline-spacing">
                            <a href="{{ path('meili_insta', {indexName:  'kpa_Song'}) }}" class="btn btn-outline-primary">Go to {{ songCount }} Songs</a>
                        </div>
                    {% endblock %}
                {% endcomponent %}
            </div>
            <div class="col-md-6">

                {% component card with {
                } %}
                    {% block title 'Videos' %}
                    {% block card_body %}
                        <span class="bi bi-youtube"></span>

                        <div class="text-light small fw-semibold">Videos</div>
                        From the KPA Youtube channel
                    {% endblock %}
                    {% block links %}
                        <div class="demo-inline-spacing">
                            {#                        {{ btn.link_button('Website', 'https://kidpanalley.com', 'floppy') }} #}
                            {% for feature in featuredVideo %}
                                <a href="{{ path('video_show', feature.rp) }}">
                                    Featured Video: {{ feature.title }}
                                </a>
                            {% endfor %}
                            <a href="{{ path('meili_insta', {indexName:  'kpa_Video'}) }}" class="btn btn-outline-primary">Go to {{ videoCount }} Videos</a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('video_index') }}" class="btn btn-outline-danger">Video Index</a>
                            {% endif %}
                        </div>
                    {% endblock %}
                {% endcomponent %}
            </div>
        </div>

    <twig:divider />
    <div class="row">
        {{ block('visitor_about_box') }}
    </div>

{% endblock %}

{% block visitor_about_box %}
    {# ... box widget with some options ... #}
    {#            {% embed '@SurvosBootstrap/Widgets/box-widget.html.twig' with { #}
    {#                'boxtype' : 'success', #}
    {#                'solid' : 0, #}
    {#                'collapsible' : 'widget-box.collapse'|trans ~ '... ', #}
    {#                'removable' : 'widget-box.remove'|trans ~ '...', #}
    {#            } %} #}

    {% block box_title %}Adminstration{% endblock %}
    {% block box_body %}
        <div class="callout callout-warning">
            <p>
                This website is for researchers and administrators to manage the schools, songs, concerts and videos
                created over the past 20 years.
            </p>
        </div>
    {% endblock %}

    {% block box_footer %}
{#        <div class="pull-right">#}
{#            {% if app.user %}#}
{#                {{ component('button', {label: "log out", icon: 'fas fa-logout', color: 'success', size: 'lg', a: {href: path('app_logout') }}) }}#}
{#                #}{#                        {{ btn.link_button('log out', path('app_logout'), 'fas fa-logout', 'success', 'lg') }} #}
{#            {% else %}#}
{#                {{ component('button', {label: "Log In", icon: 'fas fa-login', color: 'success', size: 'lg', a: {href: path('app_login') }}) }}#}
{#                #}{#                        {{ btn.link_button('login', path('app_login'), 'fas fa-login', 'success', 'lg') }} #}
{#                #}{#                        {{ btn.link_button('register', path('app_register'), 'fas fa-login', 'primary', 'lg') }} #}
{#            {% endif %}#}
{#        </div>#}
    {% endblock %}
{% endblock %}

