{% extends 'base.html.twig' %}

{% block title %}Song index{% endblock %}

{% block PAGE_MENU %}
    {% set options = {
        entityClass: class
    } %}

    <twig:menu :type="PAGE_MENU" :caller="_self" :options="options">
    </twig:menu>

{% endblock %}

{% block body %}

{#    {% set apiCall = useMeili ? '/api/meili/Song' : api_route(class)  %}#}
    <h1>{{ useMeili ? 'Meili' : 'doctrine' }} {{ apiCall }}</h1>
{% set xcolumns =         [
    {name: '_actions', prefix: 'song_', actions: ['show']},
    'id',
    'youtubeId',
    {name: 'title', order: 3, block: 'title'},
    {name: 'year'},
    {name: 'school'},
    'writers'
]
%}


<twig:api_grid
        dom="P<'dtsp-dataTable'rQfti>l"
        :class="class"
        :caller="_self"
        :columns="columns"
        :apiGetCollectionUrl="apiCall"
>
    {% block x %}
        x
    {% endblock %}
    {% block SongTitle %}
        <a href="{{ path('song_show', row.uniqueIdentifiers)}}">{{ row.title }}</a>
    {% endblock %}
    {% block VideoTitle %}
        {% set song = row.song %}
{#        {{ song|keys|join(',') }}#}
        <a href="{{ path('song_show', song.rp)}}">{{ song.title }}</a>
    {% endblock %}
    {% block youtubeId %}
        <a target="_blank" href="http://www.youtube.com/watch?v={{ row.youtubeId }}">{{ row.youtubeId }}</a>
    {% endblock %}
</twig:api_grid>

{#apiGetCollectionUrl: "/api/meili",#}
{#    {% component api_grid with {#}
{#        class: class,#}
{#        caller: _self,#}
{#        columns: [#}
{#            {name: '_actions', prefix: 'song_', actions: ['show']},#}
{#            'id',#}
{#            {name: 'year', browsable: true, searchable: true, sortable: true},#}
{#            {name: 'school', browsable: true},#}
{#            'school',#}
{#            'title'#}
{#        ]#}
{#    } %}#}
{#        {% block title %}#}
{#            <a href="{{ path('song_show', row.uniqueIdentifiers)}}">{{ row.title }}</a>#}
{#        {% endblock %}#}
{#        {% block youtubeId %}#}
{#            <a target="_blank" href="http://www.youtube.com/watch?v={{ row.youtubeId }}">{{ row.youtubeId }}</a>#}
{#        {% endblock %}#}

{#    {% endcomponent %}#}



{% endblock %}
