{% extends 'base.html.twig' %}

{% block title %}Song index{% endblock %}

{% block body %}
    <h1>Song index api_grid</h1>
{% set columns =         [
    {name: '_actions', prefix: 'song_', actions: ['show']},
    'id',
    'youtubeId',
    {name: 'year', browsable: true, sortable: true},
    {name: 'school', searchable: true, sortable: true},
    {name: 'title', searchable: true, sortable: true, block: 'title'},
]
%}
    <twig:api_grid
        :class="class"
        :caller="_self"
        :columns="columns"
    >

        {% block title %}
            <a href="{{ path('song_show', row.uniqueIdentifiers)}}">{{ row.title }}</a>
        {% endblock %}
        {% block youtubeId %}
            <a href="{{ path('song_show', row.uniqueIdentifiers)}}">{{ row.title }}</a>
            {% if row.youtubeId|default(false) %}
            <a target="_blank" href="http://www.youtube.com/watch?v={{ row.youtubeId }}">{{ row.youtubeId }}</a>
            {% endif %}
        {% endblock %}

    </twig:api_grid>



{% endblock %}
