{% extends 'base.html.twig' %}

{% block title %}Song index{% endblock %}

{% block PAGE_MENU %}
    {{ _self }} PAGE_MENU block for {{ class }}
    {% set options = {
        entityClass: class
    } %}

    <twig:menu :type="PAGE_MENU" :caller="_self" :options="options">
    </twig:menu>

{% endblock %}


{% block body %}
    <h1>Songs {{ _self }}</h1>
{#    {name: '_actions', prefix: 'song_', actions: ['show']},#}
{% set columns = [
    {name: 'videos'},
    {name: 'title'},
    {name: 'school', searchable: true, sortable: true},
    {name: 'year', sortable: true},
    {name: 'lyricsLength', sortable: true},
    {name: 'publishersArray', title: 'publishers'},
    {name: 'writers'},
    'code',
]
%}
    <twig:api_grid
        facets="true"
        :class="class"
        :caller="_self"
        :columns="columns"
    >

        {% block writersArray %}
            {{ row.writersArray|join('|') }}
        {% endblock %}
        {% block publishersArray %}
            {{ row.publishersArray|join('<br />')|raw }}
        {% endblock %}
        {% block videos %}
            {% for video in row.videos %}
                <a target="_blank" href="http://www.youtube.com/watch?v={{ video.youtubeId }}">
                    <img src="{{ video.thumbnailUrl }}" height="60" />
                </a>
            {% endfor %}
        {% endblock %}
        {% block title %}
            <span class="d-inline-block text-truncate" style="max-width: 300px;" title="{{ row.title }}">
            <a href="{{ path('song_show', row.uniqueIdentifiers)}}">{{ row.title }}</a>
</span>
        {% endblock %}
        {% block youtubeId %}
            <a href="{{ path('song_show', row.uniqueIdentifiers)}}">{{ row.title }}</a>
            {% if row.youtubeId|default(false) %}
            <a target="_blank" href="http://www.youtube.com/watch?v={{ row.youtubeId }}">{{ row.youtubeId }}</a>
            {% endif %}
        {% endblock %}

    </twig:api_grid>



{% endblock %}
