{% extends 'base.html.twig' %}

{% block title %}Song index{% endblock %}

{% block PAGE_MENU %}
    {% set options = {
        entityClass: class
    } %}
    <twig:menu :type="PAGE_MENU" :caller="_self" :options="options">
    </twig:menu>

{% endblock %}


{% block body %}
    {% set columns = [
        col('title'),
        col('videos'),
        col(name: 'publishersArray', title: 'publishers'),
        col('writers'),
        col(name: 'school', searchable: true, sortable: true, browsable: true),
        col('code'),
    ] %}

    <twig:api_grid
            facets="true"
            :class="class"
            :apiRoute="apiRoute"
            :caller="_self"
            :columns="columns"
    >

        <twig:block name="writersArray">
            {{ row.writersArray|join('|') }}
        </twig:block>

        <twig:block name="publishersArray">
            {{ row.publishersArray|join('<br />')|raw }}
        </twig:block>

        <twig:block name="videos">
            {% for video in row.videos %}
                <a target="_blank" href="http://www.youtube.com/watch?v={{ video.youtubeId }}">
                    <img src="{{ video.thumbnailUrl }}" height="60"/>
                </a>
            {% endfor %}
        </twig:block>

        <twig:block name="title">
            <span class="d-inline-block text-truncate" style="max-width: 300px;" title="{{ row.title }}">
                <a href="{{ path('song_show', row.rp) }}">{{ row.title }}</a>
            </span>
        </twig:block>
        <twig:block name="youtubeId">

            <a href="{{ path('song_show', row.rp) }}">{{ row.title }}</a>
            {% if row.youtubeId|default(false) %}
                <a target="_blank" href="http://www.youtube.com/watch?v={{ row.youtubeId }}">{{ row.youtubeId }}</a>
            {% endif %}
        </twig:block>

    </twig:api_grid>



{% endblock %}
