{% extends 'base.html.twig' %}

{% block title %}Song index{% endblock %}

{% block body %}
    <h1>Song index</h1>
    <div class="dtsp-verticalContainer row">
        <div class="search-panes xxdtsp-verticalPanes col-3">
        </div>
        <div class="xxcontainer col-9">
            {{ block('gridTable') }}
        </div>
    </div>

{% endblock %}

{% block gridTable %}


    {% component api_grid with {
        class: class,
        caller: _self,
        dom: 'P<"dtsp-dataTable"rQfti>l',
        columns: [
            {name: '_actions', prefix: 'song_', actions: ['show']},
            'id',
            {name: 'year', searchable: true, sortable: true},
            'school',
            'title'
        ]
    } %}
        {% block title %}
            <a href="{{ path('song_show', row.uniqueIdentifiers)}}">{{ row.title }}</a>
        {% endblock %}
        {% block youtubeId %}
            <a target="_blank" href="http://www.youtube.com/watch?v={{ row.youtubeId }}">{{ row.youtubeId }}</a>
        {% endblock %}

    {% endcomponent %}



{% endblock %}
