{% extends 'base.html.twig' %}

{% block title %}Song{% endblock %}

{% block body %}
    <h1>Song</h1>


    {{ dump(song) }}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ song.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ song.title }}</td>
            </tr>
            <tr>
                <th>Youtube Videos</th>
                <td>
                    {% for video in song.videos %}
                    <object width="420" height="315"
                            data="https://www.youtube.com/embed/{{ video.youtubeId }}">
                    </object>
                    {% endfor %}

                </td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ song.date ? song.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ song.year }}</td>
            </tr>
            <tr>
                <th>School</th>
                <td>{{ song.school }}</td>
            </tr>
            <tr>
                <th>Lyrics</th>
                <td>
                    <pre>
                    {{ song.lyrics }}
                    </pre>
                </td>
            </tr>
            <tr>
                <th>FeaturedArtist</th>
                <td>{{ song.featuredArtist }}</td>
            </tr>
            <tr>
                <th>RecordingCredits</th>
                <td>{{ song.recordingCredits }}</td>
            </tr>
            <tr>
                <th>Musicians</th>
                <td>{{ song.musicians }}</td>
            </tr>
            <tr>
                <th>Writers</th>
                <td>{{ song.writers }}</td>
            </tr>
            <tr>
                <th>WordpressPageId</th>
                <td>{{ song.wordpressPageId }}</td>
            </tr>
            <tr>
                <th>Recording</th>
                <td>{{ song.recording }}</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>{{ song.publisher }}</td>
            </tr>
{#            <tr>#}
{#                <th>Notes</th>#}
{#                <td>{{ song.notes }}</td>#}
{#            </tr>#}
        </tbody>
    </table>

{% endblock %}
