{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Youtube videos ({{ videoCount }}, in-memory)</h1>

    {% component api_grid with {
        data: videos,
        columns: [
            {name: '_actions', prefix: 'video_', actions: ['show']},
            'youtubeId',
            'title',
            'description',
            'date'
        ]
    } %}
        {% block title %}
            <a href="{{ path('video_show', row.uniqueIdentifiers)}}">{{ row.title }}</a>
        {% endblock %}
        {% block date %}
            {{ row.date|date('Y-m-d') }}
        {% endblock %}
        {% block youtubeId %}
            <a target="_blank" href="http://www.youtube.com/watch?v={{ row.youtubeId }}">{{ row.youtubeId }}</a>
        {% endblock %}

    {% endcomponent %}

{% endblock %}
