{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Youtube videos ({{ videoCount }})</h1>

    {% component api_grid with {
        class: 'App\\Entity\\Video',
        caller: _self,
        columns: [
            {name: '_actions', prefix: 'video_', actions: ['show']},
        'id',
            'youtubeId',
            'title',
            'description',
            'date'
        ]
    } %}
        {% block title %}
            <a href="{{ path('video_show', row.uniqueIdentifiers)}}">{{ row.title }}</a>
        {% endblock %}
        {% block youtubeId %}
            <a target="_blank" href="http://www.youtube.com/watch?v={{ row.youtubeId }}">{{ row.youtubeId }}</a>
        {% endblock %}

    {% endcomponent %}

{% endblock %}
