{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

        {% block page_header %}
            <div class="page-header" id="banner">
                Video menu: {{ video.youtubeId }}
                {{ component('menu', {type: PAGE_MENU}) }}

                {#            page header, breadcrumbs, etc.#}
                {#            <div class="row">#}
                {#                <div class="col-lg-8 col-md-7 col-sm-6">#}
                {#                    <h1>Cerulean</h1>#}
                {#                    <p class="lead">A calm blue sky</p>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-5 col-sm-6">#}
                {#                    <div class="sponsor">#}
                {#                        #}{#  could put ads here. #}
                {#                    </div>#}
                {#                </div>#}
                {#            </div>#}
            </div>
        {% endblock %}

{% block body %}
    <h1>Video</h1>



{#    {{ dump(video.rawData) }}#}

    <object width="420" height="315"
            data="https://www.youtube.com/embed/{{ video.youtubeId }}">
    </object>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>YoutubeId</th>
                <td>{{ video.youtubeId }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ video.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ video.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ video.date ? video.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
