{% extends "@SurvosBootstrap/%s/base.html.twig"|format(theme_option('theme')) %}
{#{% extends "@SurvosBootstrap/sneat/" ~ layout|default('base') ~ ".html.twig" %}#}
{#{% extends "@SurvosBootstrap/tabler/layout-" ~ layout|default('vertical') ~ ".html.twig" %}#}


{% set appShortName = 'KPA' %}


{% block logo_mini %}<b>KPA</b>{% endblock %}
{% block logo_large '<b>KPA</b> Admin' %}

{% block page_title 'KPA Admin' %}
{% block page_subtitle 'Songs and Music!' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css">

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}


{# could also overwrite template
        {% include '@SurvosBootstrapBundle/Partials/_footer.html.twig' %}
#}

{#{% block footer %}#}
{#    FOOTER {{ _self }}#}
{#    <footer class="main-footer">#}
{#        Theme: {{ theme_option('theme') }}#}
{#        <!-- To the right -->#}
{#        <div class="pull-right hidden-xs">#}

{#        </div>#}
{#        <!-- Default to the left -->#}
{#        <strong>Data Copyright &copy; 2020 <a href="#">Kid Pan Alley</a>.</strong>  All rights reserved.#}
{#        <strong>Code Copyright &copy; 2020 <a href="#">Survos</a>.</strong>  All rights reserved.#}
{#    </footer>#}
{#{% endblock %}#}

{#{% block body %}#}
{#    <h1>XX</h1>#}
{#    {{ block('page_content') }}#}
{#{% endblock %}#}

